menu "TcpUart Server Configuration"
    config ESP_TCP_SERVER_PORT
        int "Port number to listen on"
        default 15113
        help
            Port number to listen on

    rsource "config/Kconfig.wifi"
    rsource "config/Kconfig.reset"
    rsource "config/Kconfig.uart"
endmenu
